body {
  font-family: "Open Sans", sans-serif;
}

:root {
  --main-title-color: #ffffff;
  --accent-color: #ff6c00;
  --secondary-title-color: rgba(157, 164, 189, 0.6);
  --basic-margin: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  outline: 1px solid red;
  padding-left: 15px;
  padding-right: 30px;
}
.link {
  list-style-type: none;
  text-decoration: none;
}

.list {
  list-style: none;
}
.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
}
.header {
  background-color: grey;
  padding: 32px 0;
}
.header-container {
  display: flex;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 131px;
}
.header-list {
  display: flex;
  gap: 30px;
}
.header-item {
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: #ffffff;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tel {
  margin-left: auto;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 42px;
}
.header-btn {
  max-width: 160px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  color: #ffffff;
  padding: 12px 20px;
}
/* 
hero section */

.hero {
}
.hero-container {
  display: flex;
}
.hero-content {
  background-color: grey;
  padding: 272px 100px 208px;
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(/img/Slider\ img\ 3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-list {
  width: 100px;
}
.hero-item {
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transform: rotate(-90deg);
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-subtitle {
  margin-bottom: var(--basic-margin);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  margin-bottom: var(--basic-margin);
  font-family: "Raleway";
  font-style: normal;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--main-title-color);
}

.hero-description {
  width: 360px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* section about */
.about {
  padding: 120px 0;
}
.about-container {
  display: flex;
}
.about-contant {
}
.about-list {
  display: flex;
  gap: 30px;
  margin-right: 30px;
  width: 50%;
}
.about-item {
  width: calc(100%- 30px);
}
.about-subtitle {
  display: flex;
  margin-bottom: var(--basic-margin);
  color: #555555;
}
.about-subtitle::before {
  display: flex;
  gap: 20px;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  align-items: center;
  text-transform: uppercase;
}
.about-title {
  margin-bottom: var(--basic-margin);

  color: #303030;
}
.about-description {
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
}
.about-description span {
  margin-bottom: var(--basic-margin);
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/* price  */
.prices {
  padding: 120px 0;
  background-color: white;
  background-image: url(/img/img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #111319;
}
.prices-container {
}
.prices-content {
  display: flex;
  gap: 30px;
  margin-bottom: 54px;
}
.prices-subtitle {
  margin-bottom: var(--basic-margin);

  color: rgba(157, 164, 189, 0.6);
}
.prices-title {
  margin-bottom: 44px;
  color: var(--main-title-color);
}
.prices-list {
  border: 1px solid green;
  padding: 30px 20px;
  flex-grow: 1;
}

.list {
}
.prices-item {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: baseline;
}
.prices-item::before {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);
}
.prices-item-text {
  margin-top: var(--basic-margin);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-item-text:first-child {
  order: -1;
}
.prices-btn {
  display: block;
  margin: auto;
}

/* benefits */

.benefits {
  width: 40%;
}
.benefits-item {
}
.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #303030;
}
.benefits-subtitle {
  color: #303030;
}
.benefits-title {
  color: #303030;
}
.benefits-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #555555;
}
.benefits-content {
  width: 40%;
}
.benefits-container {
  display: flex;
}
.barbers {
  background-color: grey;
}
.barbers-container {
}
.barbers-subtitle {
  margin-bottom: var(--basic-margin);
  color: #303030;
}
.barbers-title {
  color: #303030;
}
.barbers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.barbers-content {
}
.barbers-item {
  width: calc((100% - 60px) / 3);
}
.barbers-item-title {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}
.barbers-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ff6c00;
}

.barbers-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.barbers-social-item {
  width: 44px;
  height: 44px;
}
.barbers-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
}
.barbers-social-link:is(:hover, :focus) {
  background-color: orange;
  color: white;
}

.barbers-social-icon {
  fill: currentColor;
}
/* .barbers-social-link:is(:hover, :focus) .barbers-social-icon {
  fill: white;
} */

/* gallery */
.gallery {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery-subtitle {
  margin-bottom: 44px;
  color: var(--secondary-title-color);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery-item {
  width: calc((100% - 90px) / 4);
}

/* contact */

.contact {
}
.contact-title {
  color: var(--main-title-color);
}

.contact-address {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contact-list {
}

.contact-item {
}
.contact-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contact-subtitle {
  color: #ffffff;
}
.contact-hours {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
