body {
  font-family: "Open Sans", sans-serif;
}




:root {
--main-title-color: #FFFFFF;
--accent-color: #ff6c00;
--secondary-title-color :rgba(157, 164, 189, 0.6);
--basic-margin: 20px;

}


h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

.container{
  width: 1200px;
  margin: 0 auto;
  outline: 1px solid red;
  padding-left: 15px;
  padding-right: 30px;
}
.link{
  text-decoration: none;
}

.list {
  list-style: none;
}
.subtitle{
  font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;

}
.title{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.link { text-decoration: none;
}
.btn {
font-family: inherit;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.09em;
text-transform: uppercase;

cursor: pointer;

}
.header {
  background-color: grey;
  padding: 32px 0;
}
.header-navigation {
}
.header-logo {
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: #ffffff;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.header-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: #ffffff;
}
/* 
hero section */

.hero {
  background-color: grey;
}
.hero-list {
}
.hero-item {
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transform: rotate(-90deg);
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-subtitle {
  margin-bottom: var(--basic-margin);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  margin-bottom: var(--basic-margin);
  font-family: "Raleway";
  font-style: normal;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--main-title-color);
}
.hero-description {
  width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* section about */
.about {
}
.about-list {
}
.about-item {
}
.about-subtitle {
  margin-bottom: var(--basic-margin);
 color: #555555;
}
.about-title {
  margin-bottom: var(--basic-margin);
  
  color: #303030;
}
.about-description {
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
}
.about-description span {
  margin-bottom: var(--basic-margin);
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/* price  */
.prices {
  padding: 120px 0;
}
.prices-subtitle {
  margin-bottom: var(--basic-margin);

color: rgba(157, 164, 189, 0.6);
}
.prices-title {
  margin-bottom: 44px;
color: var(--main-title-color);
}
.prices-list {
  border: 1px solid green;
  padding: 30px 20px;
}

.list {
}
.prices-item {
}
.prices-item-text {
  margin-top: var(--basic-margin);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9DA4BD;

}
.prices-btn {
  font-weight: 600;
font-size: 12px;
line-height: 1.45;
letter-spacing: 0.09em
text-transform: uppercase;
color: #FFFFFF;
cursor: pointer;
}

/* benefits */

.benefits {
}
.benefits-item {
}
.benefits-item span {
  font-weight: 700;
font-size: 42px;
line-height: 57px;
text-align: center;
letter-spacing: 0.05em;

color: #303030;
}
.benefits-item-text {
font-weight: 600;
font-size: 11px;
line-height: 15px;
text-align: center;
color: #303030;
}
.benefits-subtitle {
color: #303030;
}
.benefits-title {
color: #303030;
}
.benefits-description {
  font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: 0.02em;
color: #555555;
}
.barbers {
}
.barbers-subtitle {
color: #303030;
}
.barbers-title {
color: #303030;
}
.barbers-list {
}
.barbers-item {
}
.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
text-align: center;
letter-spacing: 0.02em;
   color: #303030;
}
.barbers-item-text {
 font-weight: 400;
font-size: 14px;
line-height: 19px;
text-align: center;
letter-spacing: 0.02em;

color: #FF6C00;
}

/* gallery */
.gallery {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;}
  
  .gallery-subtitle {

}
.gallery-list {
}
.gallery-item {
}

/* contact */

.contact {
}
.contact-title {
  color: #FFFFFF;
}

.contact-address {
  font-weight: 700;
font-size: 18px;
line-height: 30px;
letter-spacing: 0.02em;
color: #9DA4BD;
}
.contact-list {
}

.contact-item {
}
.contact-link { 
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
 letter-spacing: 0.02em;
color: #9DA4BD;}
.contact-subtitle {
color: #FFFFFF;
}
.contact-hours {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}